window#osd {
  border-radius: 999px;
  border: none;
  background: #0a1535d9;

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #f5f5dc;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #0a15354d;
  }
  progress,
  segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #0a1535cc;
  }

  segment {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
