/* =========================
   Global defaults
   ========================= */
* {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 0;

    font-family: "BitstromWera Nerd Font Mono", monospace;
    font-size: 14px;
}

/* =========================
   Waybar root
   ========================= */
window#waybar {
    /* background-color: #1e1e2e; */
    background-color: transparent;
    color: #cdd6f4;
}

/* Common padding for label-based modules */
widget > label {
    padding: 0 8px;
    border-radius: 0 0 8px 8px;
}

/* =========================
   Workspaces
   ========================= */
#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    border-radius: 8px 8px 8px 8px;
    color: #cdd6f4;
}

#workspaces button.focused {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

/* =========================
   Left modules
   ========================= */
#cpu {
    background-color: #45475a;
    border-radius: 0 0 0 8px;
}

#memory {
    background-color: #45475a;
    border-radius: 0 0 0 0;
}

#disk {
    background-color: #45475a;
    border-radius: 0 0 8px 0;
}

#mode {
    background-color: #f9e2af;
    color: #1e1e2e;
}

#scratchpad {
    background-color: #585b70;
}

/* =========================
   Center
   ========================= */
#clock {
    background-color: #313244;
    padding: 0 12px;
}

/* =========================
   Right modules
   ========================= */

/* =========================
   Network
   ========================= */
#network {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#network.disconnected {
    background-color: #f38ba8;
    color: #1e1e2e;
}

/* =========================
   Bluetooth
   ========================= */

#bluetooth {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#bluetooth.disconnected {
    background-color: #585b70;
    color: #cdd6f4;
}

/* =========================
   Audio
   ========================= */
#pulseaudio {
    background-color: #a6e3a1;
    color: #1e1e2e;
    border-radius: 0 0 8px 8px;
}

#pulseaudio.input.source-muted {
    background-color: #585b70;
    color: #cdd6f4;
}

#pulseaudio.input.source-bluetooth {
	background-color: #94e2d5;
	color: #1e1e2e;
}

#pulseaudio.input.source-bluetooth.source-muted {
	background-color: #585b70;
	color: #cdd6f4;
}

#pulseaudio.output.muted {
    background-color: #585b70;
    color: #cdd6f4;
}

#pulseaudio.output.bluetooth {
	background-color: #94e2d5;
	color: #1e1e2e;
}

#pulseaudio.output.bluetooth.muted {
	background-color: #585b70;
	color: #cdd6f4;
}

/* =========================
   Backlight
   ========================= */
#backlight {
    background-color: #cba6f7;
    color: #1e1e2e;
}

/* =========================
   Keyboard state
   ========================= */
#keyboard-state label {
    padding: 0 6px;
    border-radius: 0 0 8px 8px;
}

#keyboard-state label.capslock {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#keyboard-state label.numlock {
    background-color: #94e2d5;
    color: #1e1e2e;
}

#custom-language {
	background-color: #f9e2af;
	color: #1e1e2e;
}

/* =========================
   Battery
   ========================= */
#custom-powerprofile {
    border-radius: 0 0 0 8px;
    font-size: 20px;
}
#custom-powerprofile.performance {
    background-color: #c14c3f;
    color: #1e1e2e;
}

#custom-powerprofile.balanced {
    background-color: #b2b2b2;
    color: #1e1e2e;
}

#custom-powerprofile.power-saver {
    background-color: #74d464;
    color: #1e1e2e;
}

#custom-conservation {
    background-color: #94e2d5;
    color: #1e1e2e;
    border-radius: 0 0 0 8px;
}

#custom-conservation.conserv_on {
    background-color: #b2b2b2;
    color: #1e1e2e;
}

#custom-conservation.conserv_off {
    background-color: #a6e3a1;
    color: #1e1e2e;
}

#battery {
    background-color: #b2b2b2;
    color: #1e1e2e;
    border-radius: 0 0 8px 0;
}

#battery.charging {
    background-color: #a6e3a1;
    color: #1e1e2e;
}

#battery.discharging.warning {
    background-color: #f9e2af;
    color: #1e1e2e;
}

#battery.discharging.critical {
    background-color: #f38ba8;
    color: #1e1e2e;
}

/* =========================
   Tray
   ========================= */
#tray {
    background-color: #313244;
    padding: 0 6px;
}

#tray menu {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

