/* =========================
   Catppuccin Mocha Color Palette
   ========================= */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* =========================
   Global defaults
   ========================= */
* {
    border: none;
    border-radius: 0;
    padding: 1px;
    margin: 0;
    min-height: 0;

    font-family: "BitstromWera Nerd Font Mono", monospace;
    font-size: 14px;
}

/* =========================
   Waybar root
   ========================= */
window#waybar {
    background-color: transparent;
    color: @text;
}

/* Common padding for label-based modules */
widget > label {
    padding: 0 8px;
    border-radius: 8px 8px 8px 8px;
    background-color: #313340;
    color: @text;
}

/* =========================
   Workspaces
   ========================= */
#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    border-radius: 8px 8px 8px 8px;
    color: @text;
}

#workspaces button.focused {
    background-color: @blue;
    color: #060a19;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

/* =========================
   Left modules
   ========================= */
#cpu {
    border-radius: 8px 0 0 8px;
}

#memory {
    border-radius: 0 0 0 0;
}

#custom-disk {
    border-radius: 0 8px 8px 0;
}

#mode {
    color: #f9e2af;
}

#scratchpad {
    color: #585b70;
}

/* =========================
   Center
   ========================= */
#clock {
    color: @text;
    padding: 0 12px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    background-color: transparent;
}

/* =========================
   Right modules
   ========================= */

/* =========================
   Network
   ========================= */
#network {
    color: #89b4fa;
}

#network.disconnected {
    color: #f38ba8;
}

/* =========================
   Bluetooth
   ========================= */

#bluetooth {
    color: #f38ba8;
}

#bluetooth.disconnected {
    color: #585b70;
}

/* =========================
   Audio
   ========================= */

/* INPUT */
#pulseaudio.input {
    border-radius: 0 8px 8px 0;
}

#pulseaudio.input.source-muted {
    color: @overlay2;
}

#pulseaudio.input.source-bluetooth {
	color: #94e2d5;
}

#pulseaudio.input.source-bluetooth.source-muted {
	color: @overlay2;
}

/* OUTPUT */
#pulseaudio.output {
    border-radius: 8px 0 0 8px;
}

#pulseaudio.output.muted {
    color: @overlay2;
}

#pulseaudio.output.bluetooth {
	color: #94e2d5;
}

#pulseaudio.output.bluetooth.muted {
	color: @overlay2;
}

/* =========================
   Backlight
   ========================= */
#backlight {
    color: #cba6f7;
}

/* =========================
   Battery
   ========================= */
#custom-powerprofile {
    border-radius: 8px 0 0 8px;
    font-size: 20px;
}
#custom-powerprofile.performance {
    color: #c14c3f;
}

#custom-powerprofile.power-saver {
    color: #74d464;
}

#custom-conservation {
    border-radius: 0 0 0 0;
}

#custom-conservation.conserv_off {
    color: #a6e3a1;
}

#battery {
    border-radius:  0 8px 8px 0;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.discharging.warning {
    color: #f9e2af;
}

#battery.discharging.critical {
    color: #f38ba8;
}

/* =========================
   Tray
   ========================= */
#tray {
    color: #313244;
    padding: 0 6px;
}

#tray menu {
}

