/* =========================
   Global defaults
   ========================= */
* {
    border: none;
    border-radius: 0;
    padding: 1px;
    margin: 0;
    min-height: 0;

    font-family: "BitstromWera Nerd Font Mono", monospace;
    font-size: 14px;
}

/* =========================
   Waybar root
   ========================= */
window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}

/* Common padding for label-based modules */
widget > label {
    padding: 0 8px;
    border-radius: 8px 8px 8px 8px;
    background-color: #313340;
}

/* =========================
   Workspaces
   ========================= */
#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    border-radius: 8px 8px 8px 8px;
    color: #cdd6f4;
}

#workspaces button.focused {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

/* =========================
   Left modules
   ========================= */
#cpu {
    border-radius: 8px 0 0 8px;
}

#memory {
    border-radius: 0 0 0 0;
}

#custom-disk {
    border-radius: 0 8px 8px 0;
}

#mode {
    color: #f9e2af;
}

#scratchpad {
    color: #585b70;
}

/* =========================
   Center
   ========================= */
#clock {
    color: #c1c2d2;
    padding: 0 12px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    background-color: transparent;
}

/* =========================
   Right modules
   ========================= */

/* =========================
   Network
   ========================= */
#network {
    color: #89b4fa;
}

#network.disconnected {
    color: #f38ba8;
}

/* =========================
   Bluetooth
   ========================= */

#bluetooth {
    color: #f38ba8;
}

#bluetooth.disconnected {
    color: #585b70;
}

/* =========================
   Audio
   ========================= */

/* INPUT */
#pulseaudio.input {
    border-radius: 0 8px 8px 0;
}

#pulseaudio.input.source-muted {
    color: #585b70;
}

#pulseaudio.input.source-bluetooth {
	color: #94e2d5;
}

#pulseaudio.input.source-bluetooth.source-muted {
	color: #585b70;
}

/* OUTPUT */
#pulseaudio.output {
    border-radius: 8px 0 0 8px;
}

#pulseaudio.output.muted {
    color: #585b70;
}

#pulseaudio.output.bluetooth {
	color: #94e2d5;
}

#pulseaudio.output.bluetooth.muted {
	color: #585b70;
}

/* =========================
   Backlight
   ========================= */
#backlight {
    color: #cba6f7;
}

/* =========================
   Battery
   ========================= */
#custom-powerprofile {
    border-radius: 8px 0 0 8px;
    font-size: 20px;
}
#custom-powerprofile.performance {
    color: #c14c3f;
}

#custom-powerprofile.balanced {
    color: #b2b2b2;
}

#custom-powerprofile.power-saver {
    color: #74d464;
}

#custom-conservation {
    color: #94e2d5;
    border-radius: 0 0 0 0;
}

#custom-conservation.conserv_on {
    color: #b2b2b2;
}

#custom-conservation.conserv_off {
    color: #a6e3a1;
}

#battery {
    color: #b2b2b2;
    border-radius:  0 8px 8px 0;
}

#battery.charging {
    color: #a6e3a1;
}

#battery.discharging.warning {
    color: #f9e2af;
}

#battery.discharging.critical {
    color: #f38ba8;
}

/* =========================
   Tray
   ========================= */
#tray {
    color: #313244;
    padding: 0 6px;
}

#tray menu {
    color: #1e1e2e;
}

